# GSD State Files
.gsd/ARCHITECTURE.md
.gsd/DECISIONS.md
.gsd/JOURNAL.md
.gsd/ROADMAP.md
.gsd/SPEC.md
.gsd/STACK.md
.gsd/STATE.md
.gsd/TODO.md

# OS generated
Thumbs.db
.DS_Store
src/.vs

# ========================
# .NET / C# / Visual Studio
# ========================
# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
TestResults/

# Visual Studio / Rider cache / options
.vs/
.idea/
*.user
*.suo
*.userprefs
*.sln.docstates

# Packages (NuGet)
packages/
*.nupkg
